.container
  .content
    h2.title Usage
    p modula loader takes a directory name. Only works up to one level deep.


.tile
  .container
    pre
      code.language-js
        | import loader from 'modula-loader';
        | let modules = loader('tasks');
