.hamburguer {
  display: flex;
  align-items: center;
  margin-right: .9rem;
  @include respond-to(small) {
    display: none;
  }
}

#toggle-menu {
  display: none;
}

.toggle-menu {
  @include respond-to(small) {
    display: none;
  }
}

#toggle-menu, .toggle-menu-label {
  padding: 10px 10px;
}

#toggle-menu:hover, .toggle-menu-label:hover {
  cursor: pointer;
}

#toggle-menu[type="checkbox"]:checked ~ .navbar {
  display: block;
}

.active {
  display: inherit;
}
